<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EyeBook</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="login-box">
      <form action="/eyebook/login" method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="textbox">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="text" placeholder="Username" name="username" value="">
        </div>
        <div class="textbox">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" placeholder="Password" name="password" value="">
        </div>
        <input class="btn" type="submit" name="" value="Sign in">
      </form>
      <input class="btn" onclick="location.href='/eyebook/sign-up'" type="button" name="" value="Sign up">
      <div class="msg" style="color:red;">
        <b><i>{{msg}}</i></b>
      </div>
    </div>
  </body>
</html>
